<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OMG_BASE_URL</key>
	<string></string>
	<key>OMG_API_KEY</key>
	<string></string>
	<key>OMG_AUTHENTICATION_TOKEN</key>
	<string></string>
	<key>OMG_MINTED_TOKEN_ID</key>
	<string></string>
</dict>
</plist>
